body {
    background-image: url(../images/enrapture-captivating-media-nMZB_qeVWBU-unsplash.jpg);
    /* #ffda61 */
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    /* overflow: hidden; */
} 

h1 {
    color: white;
    font-size: 17px;
    margin-left: 20px;
    padding-top: 20px;
}

.content{
    text-align: center;
    color: black;
    position: relative;
    text-transform: uppercase;
    top: 100px;
    margin-left: 20px;
    /* overflow:hidden; */
}

h2, p {
    padding: 15px 0;
    margin: 0 10%;
    font-size: 17px;
    color: grey;
}

.location-timezone, .location-name, section[data-route='choose-sunburning'], section[data-route='choose-waves']   {
    font-size: 30px;
    font-weight: bold;
    color: black;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 200px;
    padding-bottom: 10px;
}

.location-timezone, h3 {
    padding: 15px 0;
    margin: 0 10%;
}


li {
    float: left;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    /* display: inline; */
}

li a:hover {
    opacity: 0.8;
}

ul {
    list-style-type: none;
}

section {
    padding: 1rem;
    opacity: 0;
    transition: 0.25s;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  section.active {
    opacity: 1;
  }
